body{
    width: 400px;
    margin: 0px auto;
    background-image: url(../images/index/ville-port.jpg)
}

.p1{
    color: white;
    font-weight: bold;
}

.h1 {
    color: lightsalmon;
    font-weight: bold;
}
